AgendaAmbiental/AgendaAmbiental/Connected Services/LoginServiceReference/LoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoginService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ILoginService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="WSHttpBinding_ILoginService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://serviciosenlinea.uaslp.mx/LoginService/Net/LoginService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://serviciosenlinea.uaslp.mx/LoginService/Net/LoginService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILoginService_NuevaSesion_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevaSesion" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NuevaSesion_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevaSesionResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_HolaMundo_InputMessage">
    <wsdl:part name="parameters" element="tns:HolaMundo" />
  </wsdl:message>
  <wsdl:message name="ILoginService_HolaMundo_OutputMessage">
    <wsdl:part name="parameters" element="tns:HolaMundoResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NuevaSesionConUrlRetorno_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevaSesionConUrlRetorno" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NuevaSesionConUrlRetorno_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevaSesionConUrlRetornoResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NuevaSesionConUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevaSesionConUsuario" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NuevaSesionConUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevaSesionConUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NuevaSesionConUsuarioYUrlRetorno_InputMessage">
    <wsdl:part name="parameters" element="tns:NuevaSesionConUsuarioYUrlRetorno" />
  </wsdl:message>
  <wsdl:message name="ILoginService_NuevaSesionConUsuarioYUrlRetorno_OutputMessage">
    <wsdl:part name="parameters" element="tns:NuevaSesionConUsuarioYUrlRetornoResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidaCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaCliente" />
  </wsdl:message>
  <wsdl:message name="ILoginService_ValidaCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ILoginService_EstadoUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EstadoUsuario" />
  </wsdl:message>
  <wsdl:message name="ILoginService_EstadoUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EstadoUsuarioResponse" />
  </wsdl:message>
  <wsdl:portType name="ILoginService">
    <wsdl:operation name="NuevaSesion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/NuevaSesion" message="tns:ILoginService_NuevaSesion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/NuevaSesionResponse" message="tns:ILoginService_NuevaSesion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HolaMundo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/HolaMundo" message="tns:ILoginService_HolaMundo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/HolaMundoResponse" message="tns:ILoginService_HolaMundo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NuevaSesionConUrlRetorno">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/NuevaSesionConUrlRetorno" message="tns:ILoginService_NuevaSesionConUrlRetorno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/NuevaSesionConUrlRetornoResponse" message="tns:ILoginService_NuevaSesionConUrlRetorno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NuevaSesionConUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/NuevaSesionConUsuario" message="tns:ILoginService_NuevaSesionConUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/NuevaSesionConUsuarioResponse" message="tns:ILoginService_NuevaSesionConUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NuevaSesionConUsuarioYUrlRetorno">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/NuevaSesionConUsuarioYUrlRetorno" message="tns:ILoginService_NuevaSesionConUsuarioYUrlRetorno_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/NuevaSesionConUsuarioYUrlRetornoResponse" message="tns:ILoginService_NuevaSesionConUsuarioYUrlRetorno_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/ValidaCliente" message="tns:ILoginService_ValidaCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/ValidaClienteResponse" message="tns:ILoginService_ValidaCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EstadoUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ILoginService/EstadoUsuario" message="tns:ILoginService_EstadoUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILoginService/EstadoUsuarioResponse" message="tns:ILoginService_EstadoUsuario_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoginService" type="tns:ILoginService">
    <wsp:PolicyReference URI="#BasicHttpBinding_ILoginService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevaSesion">
      <soap:operation soapAction="http://tempuri.org/ILoginService/NuevaSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HolaMundo">
      <soap:operation soapAction="http://tempuri.org/ILoginService/HolaMundo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevaSesionConUrlRetorno">
      <soap:operation soapAction="http://tempuri.org/ILoginService/NuevaSesionConUrlRetorno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevaSesionConUsuario">
      <soap:operation soapAction="http://tempuri.org/ILoginService/NuevaSesionConUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevaSesionConUsuarioYUrlRetorno">
      <soap:operation soapAction="http://tempuri.org/ILoginService/NuevaSesionConUsuarioYUrlRetorno" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaCliente">
      <soap:operation soapAction="http://tempuri.org/ILoginService/ValidaCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoUsuario">
      <soap:operation soapAction="http://tempuri.org/ILoginService/EstadoUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSHttpBinding_ILoginService" type="tns:ILoginService">
    <wsp:PolicyReference URI="#WSHttpBinding_ILoginService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NuevaSesion">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/NuevaSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HolaMundo">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/HolaMundo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevaSesionConUrlRetorno">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/NuevaSesionConUrlRetorno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevaSesionConUsuario">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/NuevaSesionConUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NuevaSesionConUsuarioYUrlRetorno">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/NuevaSesionConUsuarioYUrlRetorno" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaCliente">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/ValidaCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EstadoUsuario">
      <soap12:operation soapAction="http://tempuri.org/ILoginService/EstadoUsuario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoginService">
    <wsdl:port name="BasicHttpBinding_ILoginService" binding="tns:BasicHttpBinding_ILoginService">
      <soap:address location="https://serviciosenlinea.uaslp.mx/LoginService/Net/LoginService.svc" />
    </wsdl:port>
    <wsdl:port name="WSHttpBinding_ILoginService" binding="tns:WSHttpBinding_ILoginService">
      <soap12:address location="https://serviciosenlinea.uaslp.mx/LoginService/Net/LoginService.svc/Net/LoginService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://serviciosenlinea.uaslp.mx/LoginService/Net/LoginService.svc/Net/LoginService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>